<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/addBook.css">
    <title>AddAuthor</title>
</head>

<body>
    <br><br><br><br><br>
    <div class="main-block">
        <form action="/">
            <h1>Add Author</h1>
            <hr>
            <div class="personal-details">
                <div>
                    <label>FirstName<span class="required">*</span></label>
                    <input id="firstNameAuthor" class="first-name" type="text" name="firstName" placeholder="FirstName" required />
                </div>
                <div>
                    <label>LastName<span class="required">*</span></label>
                    <input id="lastNameAuthor" class="last-name" type="text" name="lastName" placeholder="LastName" required />
                </div>
            </div>
            <div class="btn-block">
                <button id="addBtn" type="submit">Add</button>
            </div>
        </form>
    </div>
    <script src="../scripts/addAuthor.js"></script>

</body>

</html>