<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/addBook.css">
    <link rel="stylesheet" href="../styles/catalog.css">
    <link rel="stylesheet" href="../styles/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="shortcut icon" href="#">
    <title>Update User</title>
</head>

<body>
    <nav>
        <div class="logo">Book Library App</div>
        <input type="checkbox" id="click">
        <label for="click" class="menu-btn">
            <i class="fas fa-bars"></i>
        </label>
        <ul>
            <li><a class="active" href="./index.html">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="./catalog.html">Catalog</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="./login.html">LogIn</a></li>
            <li><a href="./register.html">Registration</a></li>
        </ul>
    </nav>

    <br><br>
    <br><br><br><br><br>
    <div class="main-block">
        <form action="/">
            <h1 id="header"></h1>
            <hr>
            <div class="personal-details">
                <div>
                    <label>FirstName<span class="required">*</span></label>
                    <input id="firstNameUser" class="first-name" type="text" name="firstName" placeholder="FirstName" required />
                </div>
                <div>
                    <label>LastName<span class="required">*</span></label>
                    <input id="lastNameUser" class="last-name" type="text" name="lastName" placeholder="LastName" required />
                </div>
                <div>
                    <label>Username<span class="required">*</span></label>
                    <input id="usernameUser" class="user-name" type="text" name="username" placeholder="Username" required />
                </div>
                <div>
                    <label>Password<span class="required">*</span></label>
                    <input id="passUser" class="pass-word" type="password" name="password" placeholder="Password" required />
                </div>
            </div>
            <div class="btn-block">
                <button id="updateBtn" type="button">Update</button>
            </div>
        </form>
    </div>
    <br><br><br>
    <script src="../scripts/updateUser.js"></script>

</body>

</html>